# Игнорировать скомпилированные файлы и директории
dist/
build/
__pycache__/

# Игнорировать исполняемые файлы и артефакты сборки
*.exe
*.spec

# Игнорировать файлы изображений и иконок
*.ico
*.png

# Игнорировать файлы логов и временные файлы
*.log
*.tmp

# Игнорировать файлы IDE и окружения
.vscode/
.idea/
